*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
}
#root{
  /* min-height: 100vh !important;
  min-width: 100vw !important; */
  height: 100% !important;
  width: 100% !important;
}
.main-cont{
  min-height: calc(100vh);
}
.isActive {
  color: red;
  text-decoration: none;
}
.isNotActive {
  color: white;
  text-decoration: none;
}
.people_cont {
  /* border: 2px solid pink; */
  transition-property: all;
  transition-duration: 0.3s;
  justify-content: center;
  transition-timing-function: ease;
  
}
.people_cont:hover {
  background-color: #f0f0f0 ; 
  color: black ;
}
.people_img {
  height: 100%;
  width: 70px;
  /* border: 2px solid green; */
}
.people_img img {
  width: 80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 50%;
}
.add_dm_icon {
  width: 100%  !important;
  height: 100% !important;
  /* border: 2px solid black; */
  /* border-radius: 50%; */
}
/* @media (max-width: 600px) {
  .message-container {
    display: none;
  }
} */
@media (min-width:0px) and (max-width:400px) {
  .chat-container {
    max-width: 200px;
    border:2px solid red;
  }
}
@media (min-width:401px) and (max-width:500px) {
  .chat-container {
    max-width: 245px;
    border:2px solid orange;
  }
}
@media (min-width:501px) and (max-width:600px) {
  .chat-container {
    max-width: 300px;
    border:2px solid rebeccapurple;
  }
}
@media (min-width:601px) and (max-width:800px) {
  .chat-container {
    max-width: 400px;
    border:2px solid yellow;
  }
}
@media (min-width:801px) {
  .chat-container {
    max-width: 600px;
    border:2px solid blue;
  }
}